@font-face
	font-family PT Sans
	src url("../_fonts/PT-Sans-regular.woff2") format("woff2")

@font-face
	font-family: "Montserrat-Regular";
	src: url("../_fonts/Montserrat-Regular.woff2") format("woff2")

@font-face
	font-family: "Montserrat-Bold";
	src: url("../_fonts/Montserrat-Bold.woff2") format("woff2")

//====================
// mixins
// ===================
font($size,$family,$weight,$color)
	font-size $size
	font-family $family
	font-weight $weight
	color: $color
//====================
// variables
// ===================



//====================
// global
// ===================
body
	padding 0
	margin 0
	background url('../_img/cork-wallet.png')
*
	box-sizing: border-box

a
	text-decoration: none

ul
ol
	list-style none
