//====================
// import
// ===================

@import ("smart-grid.styl");

//====================
// global
// ===================

body
	background url('../_img/cork-wallet.png');

//====================
// variables
// ===================

//====================
// mixins
// ===================
font($size,$family,$weight,$color)
	font-size $size
	font-family $family
	font-weight $weight
	color: $color

//====================
// code
// ===================
